@page "/my-meetings"
@using MeetingsBooking.Shared.Dtos
@using MeetingsBooking.UI.Components
@using MeetingsBooking.Domain.Enums
@using MeetingsBooking.Shared.Enums
@inject IBookMeetings BookMeetings
@inject NavigationManager Navigation
<div>
    <div class="dashboard-header">

        <div>
            <h1>My Meetings</h1>
            <p>
                Manage all your scheduled meetings.
            </p>

        </div>
    </div>
   @if (IsLoading)
   {
       <p>Loading meetings...</p>
   }
   else
   {
        <MeetingFilterBar SelectedFilter="@SelectedFilter"
                          SelectedFilterChanged="ChangeFilter"
                          AllCount="@Meetings.Count"
                          UpcomingCount="@UpcomingCount"
                          PendingCount="@PendingCount"
                          PastCount="@PastCount"
                          CancelledCount="@CancelledCount" />
       <br />
        <MeetingCard Meetings="FilteredMeetings.ToList()" />
   }
</div>
@code{

    private bool IsLoading = true;

    private List<MeetingResponseDto> Meetings = [];
    private int UpcomingCount =>
    Meetings.Count(IsUpcoming);

    private int PendingCount =>
        Meetings.Count(IsPending);

    private int PastCount =>
        Meetings.Count(IsPast);

    private int CancelledCount =>
        Meetings.Count(IsCancelled);
    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        Meetings = (await BookMeetings.GetAllMeetingsAsync()).ToList();

        IsLoading = false;
    }
    private MeetingFilter SelectedFilter = MeetingFilter.All;

    private void ChangeFilter(MeetingFilter filter)
    {
        SelectedFilter = filter;
    }
    private IEnumerable<MeetingResponseDto> FilteredMeetings =>
    SelectedFilter switch
    {
        MeetingFilter.All => Meetings,

        MeetingFilter.Upcoming => Meetings.Where(IsUpcoming),

        MeetingFilter.Pending => Meetings.Where(IsPending),

        MeetingFilter.Past => Meetings.Where(IsPast),

        MeetingFilter.Cancelled => Meetings.Where(IsCancelled),

        _ => Meetings
    };
    private bool IsUpcoming(MeetingResponseDto meeting)
    {
        return meeting.Status == MeetingStatus.Scheduled
            || meeting.Status == MeetingStatus.Accepted;
    }

    private bool IsPast(MeetingResponseDto meeting)
    {
        return meeting.Status == MeetingStatus.Completed
            || meeting.Status == MeetingStatus.Expired;
    }

    private bool IsPending(MeetingResponseDto meeting)
    {
        return meeting.Status == MeetingStatus.Pending;
    }

    private bool IsCancelled(MeetingResponseDto meeting)
    {
        return meeting.Status == MeetingStatus.Cancelled;
    }
}
